<?xml version="1.0" encoding="UTF-8"?>
<!-- OPCIONAL - PARA CONTROLAR LA CANTIDAD DE INFORMACION QUE SE MANDA A LA CONSOLA -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
           <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>